In [2]:
import pathlib
import os
from esi_utils_pager.calc import calc_pager_event, calc_pager_events
from esi_utils_pager.config import read_config

Calculate results from a single event

In [3]:
config = read_config()
thisdir = pathlib.Path(os.path.abspath(""))
gridfiles = list(thisdir.glob("*.xml"))
print(gridfiles)

[PosixPath('/home/mhearne/src/python/esi-utils-pager/notebooks/us7000j36j_grid.xml'), PosixPath('/home/mhearne/src/python/esi-utils-pager/notebooks/us7000j5x2_grid.xml')]

In [4]:
dataframe = calc_pager_event(gridfiles[0], config)
dataframe

,EventID,Time,LocalTime,Latitude,Longitude,Depth,Magnitude,Location,EpicentralCountryCode,CountryCode,...,EconMMI02,EconMMI03,EconMMI04,EconMMI05,EconMMI06,EconMMI07,EconMMI08,EconMMI09,EconMMI10,Dollars
0,us7000j36j,2023-01-09 17:47:35,2023-01-10 02:47:35,-7.0642,130.0039,105.2,7.6,"Pulau Pulau Tanimbar, Indonesia",ID,AU,...,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0
1,us7000j36j,2023-01-09 17:47:35,2023-01-10 02:47:35,-7.0642,130.0039,105.2,7.6,"Pulau Pulau Tanimbar, Indonesia",ID,ID,...,0.0,3.100782e+09,8.841349e+10,1.187158e+10,5.974549e+09,2.717838e+09,0.0,0.0,0.0,324390
2,us7000j36j,2023-01-09 17:47:35,2023-01-10 02:47:35,-7.0642,130.0039,105.2,7.6,"Pulau Pulau Tanimbar, Indonesia",ID,TL,...,0.0,0.000000e+00,1.634028e+10,1.151781e+06,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0
3,us7000j36j,2023-01-09 17:47:35,2023-01-10 02:47:35,-7.0642,130.0039,105.2,7.6,"Pulau Pulau Tanimbar, Indonesia",ID,Total,...,0.0,3.100782e+09,1.047538e+11,1.187273e+10,5.974549e+09,2.717838e+09,0.0,0.0,0.0,324390

Calculate results from multiple events

In [5]:
dataframe = calc_pager_events(thisdir, True)
dataframe

,EventID,Time,LocalTime,Latitude,Longitude,Depth,Magnitude,Location,EpicentralCountryCode,CountryCode,...,EconMMI02,EconMMI03,EconMMI04,EconMMI05,EconMMI06,EconMMI07,EconMMI08,EconMMI09,EconMMI10,Dollars
0,us7000j36j,2023-01-09 17:47:35,2023-01-10 02:47:35,-7.0642,130.0039,105.2,7.6,"Pulau Pulau Tanimbar, Indonesia",ID,AU,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0
1,us7000j36j,2023-01-09 17:47:35,2023-01-10 02:47:35,-7.0642,130.0039,105.2,7.6,"Pulau Pulau Tanimbar, Indonesia",ID,ID,...,0.000000e+00,3.100782e+09,8.841349e+10,1.187158e+10,5.974549e+09,2.717838e+09,0.0,0.0,0.0,324390
2,us7000j36j,2023-01-09 17:47:35,2023-01-10 02:47:35,-7.0642,130.0039,105.2,7.6,"Pulau Pulau Tanimbar, Indonesia",ID,TL,...,0.000000e+00,0.000000e+00,1.634028e+10,1.151781e+06,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0
3,us7000j36j,2023-01-09 17:47:35,2023-01-10 02:47:35,-7.0642,130.0039,105.2,7.6,"Pulau Pulau Tanimbar, Indonesia",ID,Total,...,0.000000e+00,3.100782e+09,1.047538e+11,1.187273e+10,5.974549e+09,2.717838e+09,0.0,0.0,0.0,324390
0,us7000j5x2,2023-01-20 22:09:39,2023-01-20 19:09:39,-26.7209,-63.0394,610.7,6.8,"24 km SW of Campo Gallo, Santiago del Estero, AR",AR,AR,...,1.463617e+09,2.395146e+11,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0
1,us7000j5x2,2023-01-20 22:09:39,2023-01-20 19:09:39,-26.7209,-63.0394,610.7,6.8,"24 km SW of Campo Gallo, Santiago del Estero, AR",AR,Total,...,1.463617e+09,2.395146e+11,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0